body, div, header, h1, h5, ul, li, nav, img{
	margin: 0;
	padding: 0;
}

body{
	background-color: #B5B5B5;
}

header{
	margin-top: 30px;
}

#wrapper{
	background-color: #FFFFFF;
	width: 1150px;
	height:700px;
	margin: 0 auto;
}

#header-top{
	padding: 30px 0 30px 0;
	text-align: center;
}

#header-center {
	width: 1150px;
	height: 300px;}
	#header-center img{
	    width: 1150px;
	    height: 300px;}

#header-bottom nav{
	height:70px;
	background-color: black;
	line-height: 70px;
    padding: 0 230px 0 230px;}
	#header-bottom nav>ul{
	    list-style: none;
	    display: flex;
	    justify-content: center; }
	    #header-bottom ul>li>a{
	    	text-decoration: none;
	    	color: white;
	    	font-size: 20px;
	    	display: block;
	    	text-transform: uppercase;
	    	padding: 0 20px;}
	    	#header-bottom ul>li>a:hover{
	    		color: black;
	    		background-color: white;
	    	}




